
<div class = "jumbotron">
<h1> Evaluation fournisseur </h1>
<p>Complement d evaluation </p>

<% if user_signed_in? %>
	# do something
<% else %>
	<p> 
		<%= link_to "Log in", new_user_session_path , class: "btn btn-primary"  %>
		<%= link_to "Sign up", new_user_registration_path , class: "btn btn-primary"  %>
	</p>
<% end %>	

</div>
